.checkbox {
  @include wrapper;
  @include reset-position;
  border: none;
}

.checkbox__wrapper {
  padding-right: 30px;
  padding-left: 30px;
  padding-bottom: 4px;
}

.checkbox__tittle {
  @include textsize(17px, 16px);
  width: 260px;
  text-align: left;
  color: $green;
  text-transform: uppercase;
  position: relative;
  margin-bottom: 25px;

  &::after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    right: 0;
    width: 198px;
    height: 1px;
    background-color: $green;
  }
}

.checkbox__block {
  @include reset-position;
  @include flex;
  align-items: center;
  margin-bottom: 22px;
}

.checkbox__block input[type="checkbox"] + .checkbox__field {
  display: block;
  position: relative;
  width: 40px;
  height: 39px;
  border: 2px solid $black;
}

.checkbox__block input[type="checkbox"]:checked + .checkbox__field {
  &::after {
    content: "";
    display: block;
    position: absolute;
    top: 10px;
    left: 8px;
    width: 21px;
    height: 17px;
    background-image: url("../img/icon-tick.svg");
    background-repeat: no-repeat;
    background-position: bottom center;
  }
}

.checkbox__block input[type="checkbox"] + .checkbox__field:hover,
.checkbox__block input[type="checkbox"] + .checkbox__field:focus {
  border: 2px solid $radio-green;
}

.checkbox__block input[type="checkbox"] + .checkbox__field:active {
  border: 2px solid $btn-active-grey;
}

.checkbox__text {
  @include textsize(17px, 18px);
  display: block;
  margin-right: 50px;
  margin-left: 22px;
}

@media (min-width: $tablet-width) {
  .checkbox {
    width: 100%;
    background-color: $block-grey;
  }

  .checkbox__wrapper {
    @include flex;
    width: $tablet-width;
    align-items: flex-start;
    padding-top: 50px;
    padding-left: 51px;
    padding-bottom: 26px;
  }

  .checkbox__tittle {
    @include reset-position;
    width: 160px;
    text-align: left;
    padding-top: 17px;
    margin-right: 6px;

    &::after {
      display: none;
    }
  }

  .checkbox__container {
    @include textsize(19px, 18px);
    @include flex;
    flex-wrap: wrap;
    width: 510px;
  }

  .checkbox__block {
    margin-bottom: 24px;

    &--white {
      margin-right: 116px;
    }

    &--tiffany {
      margin-right: 64px;
    }

    &--pink {
      margin-right: 93px;
    }
  }

  .checkbox__block input[type="checkbox"] + .checkbox__field {
    width: 54px;
    height: 52px;
  }

  .checkbox__block input[type="checkbox"]:checked + .checkbox__field {
    &::after {
      top: 13px;
      left: 8px;
      width: 34px;
      height: 23px;
      background-position: bottom center;
    }
  }

  .checkbox__text {
    @include textsize(19px, 18px);
    margin-right: 0;
    margin-left: 27px;
  }
}

@media (min-width: $desktop-width) {
  .checkbox__wrapper {
    width: $desktop-width;
    padding-top: 49px;
    padding-bottom: 25px;
    padding-left: 100px;
  }

  .checkbox__tittle {
    width: 175px;
    padding-left: 62px;
    margin-right: 0;
  }

  .checkbox__container {
    width: 730px;
  }

  .checkbox__block-list {
    @include flex;
    flex-wrap: wrap;
  }

  .checkbox__block {
    margin-bottom: 24px;

    &--white {
      margin-right: 116px;
    }

    &--grey {
      margin-right: 118px;
    }

    &--tiffany {
      margin-right: 0;
    }

    &--black {
      margin-right: 102px;
    }

    &--pink {
      margin-right: 95px;
    }

    &--orange {
      margin-right: 0;
    }
  }

  .checkbox__text {
    @include textsize(19px, 18px);
  }
}
