.footer {
  @include wrapper;
  background-color: $block-grey;
}

.footer__wrapper {
  padding-top: 0;
  padding-right: 30px;
  padding-left: 30px;
  padding-bottom: 0;
}

.footer__logo {
  display: none;
}

.footer__social {
  @include centerblock;
  width: 260px;
  display: block;
  padding-top: 25px;
  padding-bottom: 21px;
}

.footer__social-list {
  @include reset-position;
  @include flex;
  list-style: none;
  padding-left: 57px;
}

.footer__buttons {
  width: 60px;

  &--instagram {
    margin-right: 3px;
    padding-top: 1px;
  }

  &--facebook {
    width: 40px;
    margin-right: 15px;
  }
}

.footer__buttons-image {
  fill: $black;

  &:hover,
  &:focus {
    fill: $green-link;
  }

  &:active {
    opacity: 0.3;
  }
}

.footer__copyright {
  @include textsize(19px, 18px);
  @include centerblock;
  width: 256px;
  padding-left: 33px;
  padding-right: 35px;
  padding-top: 18px;
  padding-bottom: 23px;
  border-top: 1px solid $footer-line;
}

.footer__copyright-link {
  @include flex;
  color: $black;
  justify-content: center;

  &:hover,
  &:focus {
    .footer__copyright-image {
      fill: $green-link;
    }
  }

  &:active {
    opacity: 0.3;
  }
}

.footer__copyright-image {
  margin-top: 4px;
  margin-left: 30px;
  fill: $green;
}

@media (min-width: $tablet-width) {
  .footer__wrapper {
    @include flex;
    padding-top: 31px;
    padding-bottom: 32px;
  }

  .footer__logo {
    display: block;
    width: 243px;
    padding-left: 20px;
  }

  .footer__logo-image {
    &:hover,
    &:focus {
      fill: $green-link;
    }

    &:active {
      opacity: 0.3;
    }
  }

  .footer__social {
    padding-top: 26px;
  }

  .footer__social-list {
    padding-left: 55px;
  }

  .footer__buttons {
    width: 40px;

    &--instagram {
      margin-right: 22px;
      padding-top: 5px;
    }

    &--twitter {
      padding-top: 3px;
    }
  }

  .footer__copyright {
    border: none;
    padding: 0;
    padding-left: 18px;
  }
}

@media (min-width: $desktop-width) {
  .footer__wrapper {
    padding-left: 53px;
    padding-right: 0;
  }

  .footer__logo {
    padding-left: 0;
    margin-right: 55px;
  }

  .footer__social {
    margin-left: 100px;
    margin-right: 21px;
  }

  .footer__copyright {
    margin-left: 145px;
    margin-right: 23px;
  }

  .footer__buttons {
    &--instagram {
      margin-right: 23px;
    }
  }
}
