.form-block {
  @include centerblock;
  width: 320px;
  padding-right: 30px;
  padding-left: 30px;
  padding-top: 25px;
  padding-bottom: 55px;
  background-color: $white;
}

.form-block__text {
  @include textsize(13px, 24px);
  font-weight: normal;
  margin-bottom: 50px;
}

.form-block__comment {
  @include textsize(14px, 16px);
  display: block;
  font-weight: normal;
  color: $dark-grey;
  margin-bottom: 30px;
}

.form-block__button {
  font-weight: bold;
}
