// ------
// header
// ------

.header {
  @include wrapper;
  background-color: $white;

  &__wrapper {
    position: relative;
  }
}

.header__logo {
  background-color: $white;
  padding-top: 22px;
  padding-right: 118px;
  padding-left: 116px;
  padding-bottom: 16px;
  border-bottom: 1px solid $light-grey;
}

.header__button {
  width: 21px;
  height: 21px;
  position: absolute;
  top: 28px;
  right: 31px;
  border: none;
  background-color: $white;
  background-image: url("../img/icon-menu-open.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.header__menu-list {
  @include reset-position;
  list-style: none;
}

.header__list-item {
  display: none;
  border-bottom: 1px solid $light-grey;
  padding-left: 75px;
  padding-top: 25px;
  padding-bottom: 25px;

  &--new {
    display: none;
  }

  &--sale {
    display: none;
  }
}

.header__list-link {
  @include textsize(17px, 24px);

  &:hover,
  &:focus {
    color: $black-hover;
  }

  &:active {
    color: $black-active;
  }
}

.header__text {
  display: none;
}

@media (min-width: $tablet-width) {
  .header__button {
    display: none;
  }

  .header__menu {
    @include textsize(15px, 24px);
  }

  .header__menu-list {
    @include flex;
    flex-wrap: wrap;
  }

  .header__logo {
    width: 320px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 159px;
    padding-left: 0;
    border-bottom: none;
    order: 0;
  }

  .header__list-item {
    border: none;

    &--catalog {
      width: 170px;
      order: 3;
      padding-top: 15px;
      padding-right: 10px;
      padding-left: 0;
      padding-bottom: 15px;
      z-index: 200;
    }

    &--order {
      width: 192px;
      order: 4;
      padding-top: 15px;
      padding-right: 35px;
      padding-left: 0;
      padding-bottom: 15px;
      z-index: 200;
    }

    &--search {
      margin: 0;
      width: 84px;
      order: 1;
      padding-top: 25px;
      padding-right: 30px;
      padding-left: 30px;
      padding-bottom: 25px;
      border-right: 1px solid $light-grey;
      border-left: 1px solid $light-grey;
    }

    &--basket {
      @include textsize(17px, 24px);
      width: 264px;
      padding-top: 20px;
      padding-right: 0;
      padding-left: 30px;
      padding-bottom: 20px;
      order: 2;

      img {
        margin-right: 30px;
      }
    }
  }

  .header__list-link {
    &--search {
      @include textsize(0, 0);
    }

    &--basket {
      @include textsize(17px, 24px);
    }
  }

  .header__text {
    display: block;
    position: absolute;
    bottom: 17px;
    right: 50px;
    font-weight: normal;
    z-index: 200;
  }
}

@media (min-width: $desktop-width) {
  .header__logo {
    width: 282px;
    padding: 35px 50px;
    order: 2;
  }

  .header__list-item {
    border: none;

    &--catalog {
      @include textsize(17px, 24px);
      width: 235px;
      padding: 35px;
      padding-left: 50px;
      order: 0;
    }

    &--order {
      @include textsize(17px, 24px);
      width: 235px;
      padding: 35px;
      border-left: 1px solid $light-grey;
      order: 1;
    }

    &--search {
      order: 3;
      padding: 35px 30px;
      border-right: 1px solid $light-grey;
      border-left: 1px solid $light-grey;
    }

    &--basket {
      width: 265px;
      padding-top: 35px;
      padding-right: 0;
      padding-left: 30px;
      padding-bottom: 35px;
      order: 4;
    }

    &--new {
      @include textsize(15px, 24px);
      display: block;
      color: $black;
      width: 235px;
      padding-top: 20px;
      padding-right: 5px;
      padding-left: 50px;
      padding-bottom: 20px;
      order: 5;
      z-index: 200;
    }

    &--sale {
      @include textsize(15px, 24px);
      display: block;
      width: 235px;
      color: $black;
      padding-top: 20px;
      padding-right: 30px;
      padding-left: 36px;
      padding-bottom: 20px;
      order: 6;
      z-index: 200;
    }
  }

  .header__text {
    bottom: 20px;
    right: 100px;
  }
}
