// ------
// header
// ------

.header {
  @include centerblock;
  background-color: $light-grey;

  @media (min-width: 320px) {
    width: 320px;
    position: relative;
  }
}

.header__logo-link {
  @media (min-width: 320px) {
    display: block;
    width: 320px;
    background-color: $white;
    padding-top: 22px;
    padding-right: 118px;
    padding-left: 116px;
    padding-bottom: 22px;
  }
}

.header__button {
  @media (min-width: 320px) {
    width: 21px;
    height: 21px;
    position: absolute;
    top: 29px;
    right: 30px;
    border: none;
    background-color: $white;
    background-image: url("../img/icon-menu-open.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
}

.header__menu-list {
  @include reset-position;
  list-style: none;
}

.header__list-item {
  background-color: $white;
  width: 320px;
  margin-bottom: 1px;
  padding-left: 75px;
  padding-top: 25px;
  padding-bottom: 25px;

  &:first-child {
    margin-top: 1px;
  }
}

.header__list-link {
  @include textsize(17px, 24px);
  color: $black;
}

.header__text {
  display: none;
}
