.info {
  @include wrapper;
  background-color: $bg-info;

  &--wrapper {
    background-image: url("../img/hero-mobile@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/hero-mobile@2x.jpg");
      background-size: 575px auto;
    }
    background-repeat: no-repeat;
    background-position: top -17px center;
    padding-top: 70px;
    padding-right: 38px;
    padding-left: 38px;
    padding-bottom: 122px;
  }
}

.info__tittle {
  @include textsize(27px, 30px);
  display: block;
  width: 260px;
  margin: 0 auto;
  padding: 0 5px;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .info {
    &--wrapper {
      border-top: 1px solid $light-grey;
      //margin-top: -52px;
      padding-top: 153px;
      padding-bottom: 373px;
      background-image: url("../img/hero-tablet@1x.jpg");

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/hero-tablet@2x.jpg");
        background-size: 1150px auto;
        background-position: top 0 center;
      }
      background-position: top 0 center;
    }
  }

  .info__tittle {
    @include textsize(43px, 50px);
    width: 668px;
    padding: 0 85px;
  }
}

@media (min-width: $desktop-width) {
  .info {
    &--wrapper {
      //margin-top: -64px;
      padding-top: 153px;
      padding-right: 273px;
      padding-left: 276px;
      padding-bottom: 360px;
      background-image: url("../img/hero-desktop@1x.jpg");

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/hero-desktop@2x.jpg");
        background-size: 1150px auto;
        background-position: top 0 center;
      }
    }
  }

  .info__tittle {
    @include textsize(53px, 57px);
    padding: 0 27px;
  }
}
