.information-block {
  @include wrapper;
  background-color: $white;

  &__wrapper {
    @include flex;
    width: 260px;
    flex-direction: column;
    padding-top: 11px;
    padding-bottom: 58px;
  }
}

.information-block__wrapper:hover .information-block__tittle,
.information-block__wrapper:focus .information-block__tittle {
  box-shadow:
    6px 0 10px -6px $black-shadow,
    -6px 0 10px -6px $black-shadow;
}

.information-block__wrapper:hover .information-block__info,
.information-block__wrapper:focus .information-block__info {
  box-shadow: 0 6px 10px $black-shadow;
}

.information-block__wrapper:active .information-block__tittle {
  box-shadow:
    3px 0 5px -3px $black-shadow,
    -3px 0 5px -3px $black-shadow;
}

.information-block__wrapper:active .information-block__info {
  box-shadow: 0 3px 5px $black-shadow;
}


.information-block__tittle {
  @include textsize(17px, 24px);
  @include reset-position;
  @include flex;
  padding-top: 23px;
  padding-bottom: 24px;
  padding-left: 88px;
  padding-right: 10px;
  border: 1px solid $light-grey;
  border-bottom: none;
  position: relative;

  svg {
    position: absolute;
    top: 29px;
    left: 33px;
    width: 32px;
    height: 32px;
    fill: $green;
  }
}

.information-block__image-block {
  @include flex;
  justify-content: center;
  width: 260px;
  height: 150px;
  background-image: url("../img/video-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: top center;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/video-mobile@2x.jpg");
    background-size: 260px auto;
  }
}

.information-block__image {
  width: 101px;

  &:hover,
  &:focus {
    width: 120px;
  }

  &:active {
    width: 80px;
    opacity: 0.3;
  }
}

.information-block__info {
  @include reset-position;
  width: 260px;
  border: 1px solid $light-grey;
  border-top: none;
  padding-top: 27px;
  padding-right: 33px;
  padding-left: 33px;
  padding-bottom: 32px;
}

.information-block__text {
  @include textsize(13px, 24px);
  @include reset-position;
  font-weight: normal;
  margin-bottom: 25px;
}

.information-block__button {
  @include textsize(17px, 16px);
  width: 192px;
  padding-top: 16px;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 16px;
}

@media (min-width: $tablet-width) {
  .information-block__wrapper {
    width: 668px;
    margin: 0 auto;
    padding-top: 37px;
    padding-bottom: 64px;
  }

  .information-block__tittle {
    @include textsize(20px, 24px);
    order: 1;
    width: 668px;
    border: 1px solid $light-grey;
    border-bottom: none;
    padding-top: 38px;
    padding-left: 105px;

    svg {
      top: 33px;
      left: 40px;
    }
  }

  .information-block__image-block {
    width: 668px;
    height: 455px;
    background-image: url("../img/video-tablet@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/video-tablet@2x.jpg");
      background-size: 668px auto;
    }
    order: 0;
  }

  .information-block__info {
    width: 668px;
    order: 2;
    padding-top: 8px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 45px;
  }

  .information-block__text {
    @include textsize(15px, 30px);
    margin-bottom: 35px;
  }

  .information-block__button {
    @include textsize(17px, 16px);
    width: 584px;
    height: 52px;
  }
}

@media (min-width: $desktop-width) {
  .information-block {
    &__wrapper {
      width: 1049px;
      align-items: flex-end;
      flex-wrap: wrap;
      position: relative;
      padding-left: 0;
      padding-right: 0;
      padding-top: 47px;
      padding-bottom: 105px;
    }
  }

  .information-block__tittle {
    width: 368px;
    border: 1px solid $light-grey;
    border-left: none;
    border-bottom: none;
    margin: 0;
    padding-top: 95px;
    padding-right: 100px;
    padding-left: 79px;
    text-align: left;

    svg {
      top: 41px;
      left: 82px;
    }
  }

  .information-block__image-block {
    width: 682px;
    background-image: url("../img/video-desktop@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/video-desktop@2x.jpg");
      background-size: 682px auto;
    }
    position: absolute;
    top: 47px;
    left: 0;
  }

  .information-block__info {
    width: 368px;
    padding-top: 9px;
    padding-left: 78px;
    padding-bottom: 59px;
  }

  .information-block__text {
    margin-bottom: 46px;
  }

  .information-block__button {
    width: 230px;
    margin-left: 2px;
    padding-top: 15px;
    padding-left: 16px;
  }
}
