.pluses {
  @include wrapper;
  background-color: #ffffff;
}

.pluses__wrapper {
  padding-top: 18px;
  padding-right: 30px;
  padding-left: 28px;
  padding-bottom: 30px;
}

.pluses__tittle {
  @include textsize(25px, 30px);
  text-align: left;
  display: block;
  margin-bottom: 10px;
}

.pluses__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.pluses__item {
  @include textsize(17px, 20px);
  padding-top: 20px;
  padding-bottom: 11px;

  &--eco {
    margin-right: 80px;
  }

  &--style {
    margin-right: 50px;
  }

  &--likes {
    margin-right: 60px;
  }

  &--make {
    margin-right: 30px;
    padding-left: 1px;
  }

  &--production {
    padding-left: 2px;
  }

  &--gift {
    margin-right: 50px;
    padding-left: 2px;
  }
}

.pluses__image {
  margin-right: 200px;
  margin-bottom: 15px;
  fill: $green;

  &--eco {
    margin-top: 2px;
    margin-left: 10px;
    margin-bottom: 13px;
  }

  &--style {
    margin-top: 0;
    margin-right: 20px;
    margin-left: 2px;
    margin-bottom: 22px;
  }

  &--likes {
    margin-top: 5px;
    margin-right: 40px;
    margin-left: 9px;
    margin-bottom: 16px;
  }

  &--make {
    margin-top: 2px;
    margin-right: 135px;
    margin-left: 4px;
    margin-bottom: 12px;
  }

  &--production {
    margin-top: 3px;
    margin-right: 120px;
    margin-left: -6px;
    margin-bottom: 23px;
  }

  &--gift {
    margin-top: 1px;
    margin-right: 50px;
    margin-left: 3px;
    margin-bottom: 16px;
  }
}

@media (min-width: $tablet-width) {
  .pluses__wrapper {
    padding-top: 50px;
    padding-bottom: 26px;
    padding-left: 46px;
    padding-right: 50px;
  }

  .pluses__tittle {
    @include reset-position;
    @include textsize(43px, 50px);
    display: block;
    margin-bottom: 47px;
  }

  .pluses__list {
    @include flex;
    flex-wrap: wrap;
    padding-left: 4px;
  }

  .pluses__item {
    @include reset-position;
    @include textsize(20px, 22px);
    display: block;
    width: 50%;
    margin-bottom: 57px;

    &--eco {
      order: 0;
      padding-right: 105px;
    }

    &--style {
      order: 2;
      padding-right: 100px;
    }

    &--likes {
      order: 4;
      padding-right: 100px;
    }

    &--make {
      order: 1;
      padding-right: 70px;
    }

    &--production {
      order: 3;
    }

    &--gift {
      order: 5;
      padding-right: 50px;
    }
  }

  .pluses__image {
    &--eco {
      margin-left: 9px;
    }

    &--style {
      margin-right: 140px;
      margin-left: 1px;
      margin-bottom: 21px;
    }

    &--likes {
      margin-top: 7px;
      margin-right: 150px;
      margin-left: 8px;
      margin-bottom: 16px;
    }

    &--make {
      margin-top: 5px;
      margin-bottom: 13px;
      margin-right: 210px;
    }

    &--production {
      margin-top: 4px;
      margin-right: 165px;
      margin-bottom: 22px;
    }

    &--gift {
      margin-top: 2px;
      margin-right: 160px;
      margin-bottom: 15px;
    }
  }
}

@media (min-width: $desktop-width) {
  .pluses__wrapper {
    padding-top: 87px;
    padding-left: 223px;
    padding-bottom: 33px;
    padding-right: 360px;
  }

  .pluses__tittle {
    @include textsize(53px, 57px);
    margin-bottom: 47px;
  }

  .pluses__list {
    width: 700px;
  }

  .pluses__item {
    //width: 255px;
    width: 50%;
    margin-bottom: 57px;

    &--eco {
      order: 0;
      padding-right: 120px;
      //margin-right: 95px;
      margin-right: 0;
    }

    &--style {
      order: 2;
      margin-right: 0;
      padding-right: 100px;
      //margin-right: 96px;
    }

    &--likes {
      order: 4;
      padding-right: 110px;
      margin-right: 0;
      //margin-right: 95px;
    }

    &--make {
      order: 1;
      margin-right: 0;
      padding-right: 100px;
    }

    &--production {
      //width: 300px;
      order: 3;
      margin-right: 0;
      padding-left: 2px;
    }

    &--gift {
      order: 5;
      margin-right: 0;
      padding-right: 100px;
      padding-left: 2px;
    }
  }

  .pluses__image {
    &--style {
      margin-right: 133px;
    }

    &--likes {
      margin-right: 145px;
    }

    &--make {
      margin-right: 225px;
    }

    &--production {
      margin-right: 180px;
    }

    &--gift {
      margin-right: 180px;
    }
  }
}
