.pluses {
  @include centerblock;
  @include wrapper;
  width: 320px;
  padding: 30px;
  background-color: #ffffff;
}

.pluses__tittle {
  @include textsize(25px, 30px);
  text-align: left;
  display: block;
  margin-bottom: 30px;
}

.pluses__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.pluses__item {
  @include textsize(17px, 20px);
  padding: 20px 0;

  &--eco {
    margin-right: 80px;
  }

  &--style {
    margin-right: 50px;
  }

  &--likes {
    margin-right: 60px;
  }

  &--make {
    margin-right: 30px;
  }

  &--gift {
    margin-right: 50px;
  }
}

.pluses__image {
  margin-right: 200px;
  margin-bottom: 15px;
}

@media (min-width: $tablet-width) {
  .pluses {
    @include tablet-desktop-padding;
    width: $tablet-width;
  }

  .pluses__tittle {
    @include textsize(53px, 57px);
  }

  .pluses__list {
    @include flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .pluses__item {
    @include reset-position;
    @include textsize(20px, 22px);
    display: block;
    width: 250px;

    &--eco {
      order: 0;
    }

    &--style {
      order: 2;
    }

    &--likes {
      order: 4;
    }

    &--make {
      order: 1;
    }

    &--production {
      order: 3;
    }

    &--gift {
      order: 5;
    }
  }
}
