.product {
  @include wrapper;
  background-color: $white;
}

.product__wrapper {
  padding-top: 31px;
  padding-right: 30px;
  padding-left: 30px;
  padding-bottom: 20px;
}

@media (min-width: $tablet-width) {
  .product__wrapper {
    padding-top: 80px;
    padding-right: 50px;
    padding-left: 51px;
    padding-bottom: 10px;
  }
}

@media (min-width: $desktop-width) {
  .product__wrapper {
    @include flex;
    align-items: flex-start;
    flex-wrap: wrap;
    padding-top: 130px;
    padding-right: 50px;
    padding-left: 50px;
    padding-bottom: 0;
  }
}
