.product-group {
  @include wrapper;
  width: 100%;
  background-color: $white;
}

.product-group__item {
  @include flex;
  @include centerblock;
  background-color: $green;
  width: $mobile-width;
  padding-top: 23px;
  padding-right: 30px;
  padding-left: 28px;
  padding-bottom: 18px;

  &--dark-green {
    background-color: $dark-green;
    padding-top: 21px;
    padding-left: 29px;
    padding-right: 10px;
    padding-bottom: 22px;
  }
}

.product-group__link {
  @include flex;
  @include textsize(19px, 24px);
  width: 100%;
  color: $white;
}

.product-group__link-text {
  display: block;
  width: 130px;
  padding-bottom: 10px;
  margin-right: 85px;
  text-align: left;

  &--toy {
    margin-right: 74px;
    padding-bottom: 5px;
  }
}

.product-group__image {
  opacity: 0.3;
  width: 41px;
  height: 62px;

  &--toy {
    height: 60px;
    width: 60px;
  }
}

@media (min-width: $tablet-width) {
  .product-group {
    &__wrapper {
      @include tablet-desktop-padding;
      @include flex;
      width: $tablet-width;
    }
  }

  .product-group__item {
    width: 50%;
    padding-top: 28px;
    padding-right: 36px;
    padding-left: 36px;
    padding-bottom: 41px;

    &--dark-green {
      padding-top: 28px;
      padding-right: 28px;
      padding-left: 36px;
      padding-bottom: 38px;
    }
  }

  .product-group__link {
    @include textsize(20px, 30px);
  }

  .product-group__link-text {
    margin-right: 95px;
    padding-bottom: 5px;

    &--toy {
      margin-right: 74px;
      padding-bottom: 8px;
    }
  }
}

@media (min-width: $desktop-width) {
  .product-group {
    &__wrapper {
      width: $desktop-width;
      padding-right: 100px;
      padding-left: 100px;
    }
  }

  .product-group__item {
    padding-top: 30px;
    padding-right: 36px;
    padding-left: 36px;
    padding-bottom: 30px;
  }

  .product-group__link-text {
    margin-right: 299px;
  }
}
