.review {
  @include wrapper;
  background-color: $white;

  &__wrapper {
    padding-top: 15px;
    padding-right: 30px;
    padding-left: 28px;
    padding-bottom: 40px;
  }
}

.review__tittle {
  @include reset-position;
  @include textsize(25px, 30px);
  margin-bottom: 24px;
}

.review__text {
  @include reset-position;
  @include textsize(15px, 30px);
  font-weight: normal;
  padding-left: 2px;
  margin-bottom: 27px;
}

.review__author-block {
  margin-bottom: 30px;
  padding-left: 2px;
}

.review__author {
  margin-bottom: 3px;
  font-style: normal;
}

.review__author-link {
  @include textsize(17px, 30px);
  margin-right: 120px;
}

.review__btn-block {
  @include flex;
  flex-wrap: nowrap;
  width: 260px;
  height: 52px;
  margin: 0;
  margin-left: 2px;
  margin-bottom: 37px;
  padding: 0;
  background-color: #ffffff;
  border: 1px solid #ececec;
  position: relative;
}

.review__btn {
  @include reset-position;
  height: 100%;
  background-color: $white;
  border: none;
  box-shadow: none;
  padding-right: 4px;
  width: 50%;

  &--after {
    border-left: 1px solid $light-grey;
  }
}

.review__button {
  padding-top: 13px;
  padding-bottom: 15px;
  margin-left: 2px;
}

@media (min-width: $tablet-width) {
  .review {
    &__wrapper {
      @include flex;
      flex-wrap: wrap;
      background-image: url("../img/review@1x.jpg");
      background-repeat: no-repeat;
      background-position: left top;
    }

    .review__tittle {
      @include textsize(43px, 50px);
      order: 0;
      display: block;
      width: 336px;
      margin-right: 110px;
    }

    .review__text {
      @include textsize(17px, 30px);
      width: 100%;
      padding-right: 25px;
      margin-bottom: 45px;
      order: 2;
    }

    .review__author-block {
      order: 3;
    }

    .review__author {
      @include textsize(18px, 24px);
    }

    .review__btn-block {
      width: 175px;
      order: 4;
      margin-left: 275px;
      border: none;
    }

    .review__btn {
      border: none;
    }

    .review__button {
      @include textsize(17px, 20px);
      order: 1;
      width: 175px;
      height: 52px;
      margin-left: 78px;
    }
  }
}

@media (min-width: $desktop-width) {
  .review {
    padding: 0 100px;

    &__wrapper {
      padding-left: 175px;
    }

    .review__tittle {
      @include textsize(53px, 57px);
    }

    .review__text {
      width: 800px;
      padding-right: 30px;
    }

    .review__author-block {
      order: 3;
    }

    .review__author {
      @include textsize(17px, 24px);
    }
  }
}
