.review {
  @include centerblock;
  @include wrapper;
  padding: 1px 30px;
  width: 320px;
  background-color: $white;
}

.review__tittle {
  @include textsize(25px, 30px);
  margin-bottom: 35px;
}

.review__text {
  @include textsize(15px, 30px);
  font-weight: normal;
  margin-bottom: 30px;
}

.review__author {
  margin-bottom: 5px;
  font-style: normal;
}

.review__author-link {
  @include textsize(17px, 30px);
  margin-right: 120px;
}

.review__btn-block {
  width: 260px;
  min-height: 52px;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  border: 1px solid #ececec;
  position: relative;

  &::after {
    width: 1px;
    height: 50px;
    background-color: #ececec;
    position: absolute;
    left: 130px;
    top: 0;
  }
}

@media (min-width: $tablet-width) {
  .review {
    width: $tablet-width;
    background-image: url("../img/review@1x.jpg");
    background-repeat: no-repeat;
    background-position: left top;

    &__wrapper {
      @include tablet-desktop-padding;
      @include flex;
      flex-wrap: wrap;
    }

    .review__tittle {
      @include textsize(43px, 50px);
      order: 0;
      display: block;
      width: 336px;
    }

    .review__text {
      @include textsize(17px, 30px);
      order: 2;
    }

    .review__author-block {
      order: 3;
    }

    .review__author {
      @include textsize(18px, 24px);
    }

    .review__btn-block {
      order: 4;
    }

    .review__button {
      @include textsize(17px, 20px);
      order: 1;
      width: 175px;
      height: 52px;
    }
  }
}

@media (min-width: $desktop-change-width) {
  .review {
    width: $desktop-width;

    &__wrapper {
      padding-left: 275px;
    }

    .review__tittle {
      @include textsize(53px, 57px);
    }

    .review__author-block {
      order: 3;
    }

    .review__author {
      @include textsize(17px, 24px);
    }
  }
}
