.review {
  @include wrapper;
  background-color: $white;

  &__wrapper {
    position: relative;
    padding-top: 15px;
    padding-right: 30px;
    padding-left: 28px;
    padding-bottom: 40px;

    &::after {
      content: "";
      position: absolute;
      bottom: -5px;
      left: 0;
      width: 260px;
      height: 34px;
      background-image: url("../img/bg-zigzag-line.svg");
      background-position: bottom center;
      background-repeat: no-repeat;
    }
  }
}

.review__tittle {
  @include reset-position;
  @include textsize(25px, 30px);
  margin-bottom: 24px;
}

.review__text {
  @include reset-position;
  @include textsize(15px, 30px);
  font-weight: normal;
  padding-left: 2px;
  margin-bottom: 27px;
}

.review__author-block {
  margin-bottom: 30px;
  padding-left: 2px;
}

.review__author {
  margin-bottom: 3px;
  font-style: normal;
}

.review__author-link {
  @include textsize(17px, 30px);
  margin-right: 120px;
}

.review__btn-block {
  @include flex;
  flex-wrap: nowrap;
  width: 260px;
  height: 52px;
  margin: 0;
  margin-left: 2px;
  margin-bottom: 37px;
  padding: 0;
  background-color: #ffffff;
  border: 1px solid #ececec;
  position: relative;
}

.review__btn {
  @include reset-position;
  height: 100%;
  background-color: $white;
  border: none;
  box-shadow: none;
  padding-right: 4px;
  width: 50%;

  &--after {
    border-left: 1px solid $light-grey;
  }
}

.review__button {
  padding-top: 13px;
  padding-bottom: 15px;
  margin-left: 2px;
}

@media (min-width: $tablet-width) {
  .review {
    &__wrapper {
      @include flex;
      flex-wrap: wrap;
      background-image: url("../img/review@1x.jpg");

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/review@2x.jpg");
        background-size: 350px auto;
      }
      background-repeat: no-repeat;
      background-position: left top;
      padding-top: 77px;
      padding-left: 46px;
      padding-bottom: 100px;

      &::after {
        width: $tablet-width;
        bottom: 0;
        left: 0;
      }
    }

    .review__tittle {
      @include textsize(43px, 50px);
      order: 0;
      display: block;
      width: 336px;
      margin-right: 84px;
      margin-bottom: 6px;
    }

    .review__text {
      @include textsize(17px, 30px);
      width: 100%;
      padding-top: 43px;
      padding-left: 4px;
      padding-right: 25px;
      margin-bottom: 56px;
      order: 2;
    }

    .review__author-block {
      order: 3;
      padding-left: 4px;
    }

    .review__author {
      @include textsize(18px, 24px);
    }

    .review__btn-block {
      width: 175px;
      order: 4;
      padding-top: 9px;
      margin-left: 244px;
      border: none;
    }

    .review__btn {
      border: none;
    }

    .review__button {
      @include textsize(17px, 20px);
      order: 1;
      width: 175px;
      height: 52px;
      margin-left: 78px;
    }
  }
}

@media (min-width: $desktop-width) {
  .review {
    &__wrapper {
      padding-top: 70px;
      padding-left: 272px;
      padding-bottom: 156px;
      background-position: top left 101px;

      &::after {
        width: $desktop-width;
      }
    }

    .review__tittle {
      @include textsize(53px, 57px);
      width: 500px;
    }

    .review__text {
      width: 800px;
      padding-right: 20px;
      margin-bottom: 38px;
    }

    .review__author-block {
      order: 3;
      margin-right: 208px;
    }

    .review__author {
      @include textsize(17px, 24px);
    }

    .review__button {
      margin-top: 7px;
      margin-left: 120px;
    }
  }
}
