.text-field {
  @include wrapper;
  border: none;
  padding-bottom: 6px;
  background-color: $white;
}

.text-field__tittle {
  @include textsize(17px, 16px);
  @include flex;
  flex-direction: row-reverse;
  flex-wrap: nowrap;
  text-align: left;
  color: $green;
  text-transform: uppercase;
  position: relative;
  margin-bottom: 26px;
  padding-left: 14px;

  &::after {
    content: "";
    display: block;
    position: absolute;
    top: 8px;
    right: 45px;
    width: 199px;
    height: 1px;
    background-color: $green;
  }

  &--email {
    padding-left: 15px;
    margin-bottom: 11px;

    &::after {
      width: 179px;
    }
  }

  &--phone {
    margin-bottom: 11px;
  }
}

.text-field__block {
  display: block;
  padding-left: 14px;
  margin-bottom: 20px;

  &--phone {
    padding-left: 16px;
  }
}

.text-field__text {
  @include textsize(17px,18px);
  width: 260px;
  margin-bottom: 10px;
  margin-right: 5px;
  text-align: left;
}

.text-field__field {
  @include textsize(17px, 18px);
  width: 260px;
  height: 48px;
  border: none;
  padding-bottom: 4px;
  border-bottom: 2px solid $black;

  &--phone {
    @include textsize(19px, 18px);
    padding-bottom: 8px;
  }

  &--e-mail {
    padding-bottom: 6px;
  }
}

@media (min-width: $tablet-width) {
  .text-field {
    &__wrapper {
      @include flex;
      padding-top: 44px;
      padding-bottom: 50px;
      padding-left: 37px;
      align-items: flex-start;
      justify-content: flex-start;

      &--phone {
        padding-top: 15px;
        padding-bottom: 3px;
      }

      &--e-mail {
        padding-top: 10px;
        padding-bottom: 50px;
      }
    }

    &--phone,
    &--e-mail {
      background-color: $block-grey;
    }
  }

  .text-field__tittle {
    width: 154px;
    margin-right: 0;
    padding-top: 17px;
    padding-left: 0;

    &::after {
      display: none;
    }
  }

  .text-field__block {
    border-bottom: none;
    margin-bottom: 24px;
    padding-left: 12px;

    &--phone {
      margin-bottom: 0;
    }

    &--e-mail {
      margin-bottom: 10px;
    }
  }

  .text-field__text {
    @include textsize(19px,18px);
    margin-right: 20px;
  }

  .text-field__field {
    @include textsize(19px, 18px);
    border-bottom: 2px solid $black;
    width: 375px;
    height: 52px;
    padding-left: 17px;

    &--name {
      width: 428px;
    }

    &--phone {
      width: 501px;
      background-color: $block-grey;
    }

    &--e-mail {
      width: 501px;
      background-color: $block-grey;
    }
  }
}

@media (min-width: $desktop-width) {
  .text-field {
    padding-bottom: 0;
  }

  .text-field__wrapper {
    padding-top: 45px;
    padding-bottom: 20px;

    &--phone {
      padding-top: 49px;
      padding-bottom: 10px;
    }

    &--e-mail {
      padding-top: 10px;
      padding-bottom: 36px;
    }
  }

  .text-field__tittle {
    width: 175px;
    margin-right: 0;
    padding-left: 60px;
  }

  .text-field__block {
    padding-left: 0;
  }

  .text-field__field {
    width: 573px;

    &--name {
      width: 626px;
    }

    &--phone {
      width: 700px;
    }

    &--e-mail {
      width: 700px;
    }
  }
}
