.text-area {
  @include wrapper;
  border: none;
  margin-bottom: 20px;
}

.text-area__tittle {
  @include textsize(17px, 16px);
  @include flex;
  width: 260px;
  flex-direction: row-reverse;
  flex-wrap: nowrap;
  text-align: left;
  color: $green;
  text-transform: uppercase;
  position: relative;
  margin-bottom: 20px;

  &::after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    right: 0;
    width: 198px;
    height: 1px;
    background-color: $green;
  }
}

.text-area__field {
  @include textsize(17px, 18px);
  padding: 5px 15px;
  color: $dark-grey;
  width: 260px;
  height: 142px;
  border: 2px solid $black;
}

@media (min-width: $tablet-width) {
  .text-area {
    &__wrapper {
      @include flex;
      align-items: flex-start;
    }
  }

  .text-area__tittle {
    display: block;

    @include reset-position;
    width: 160px;
    margin-right: 7px;

    &::after {
      display: none;
    }
  }

  .text-area__field {
    @include textsize(19px, 18px);
    width: 501px;
  }
}

@media (min-width: $desktop-width) {
  .text-area__tittle {
    width: 175px;
    padding-left: 62px;
    margin-right: 0;
  }

  .text-area__field {
    width: 700px;
  }
}
