.text-area {
  @include wrapper;
  border: none;
}

.text-area__tittle {
  @include textsize(17px, 16px);
  @include flex;
  width: 260px;
  flex-direction: row-reverse;
  flex-wrap: nowrap;
  text-align: left;
  color: $green;
  text-transform: uppercase;
  position: relative;
  margin-bottom: 20px;

  &::after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    right: 0;
    width: 198px;
    height: 1px;
    background-color: $green;
  }
}

.text-area__field {
  @include textsize(17px, 18px);
  padding: 5px 15px;
  color: $dark-grey;
  width: 260px;
  height: 142px;
  border: 2px solid $black;
}

.text-area__submit-block {
  padding-top: 30px;
  padding-bottom: 30px;
}

.text-area__comment {
  @include textsize(14px, 16px);
  display: block;
  font-weight: normal;
  color: $dark-grey;
  margin-bottom: 30px;
}

.text-area__button {
  font-weight: bold;
}

@media (min-width: $tablet-width) {
  .text-area {
    &__wrapper {
      @include flex;
      flex-wrap: wrap;
      align-items: flex-start;
    }
  }

  .text-area__tittle {
    display: block;

    @include reset-position;
    width: 125px;
    margin-right: 7px;

    &::after {
      display: none;
    }
  }

  .text-area__field {
    @include textsize(19px, 18px);
    width: 501px;
    margin-bottom: 50px;
  }

  .text-area__submit-block {
    @include flex;
    padding: 0;
    width: 633px;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  .text-area__comment {
    @include textsize(17px, 30px);
    text-align: left;
    padding-top: 15px;
  }

  .text-area__button {
    @include textsize(17px, 16px);
    padding: 0;
    width: 230px;
    height: 52px;
    margin-right: 100px;
  }
}

@media (min-width: $desktop-width) {
  .text-area__tittle {
    width: 175px;
    padding-left: 62px;
    margin-right: 0;
  }

  .text-area__field {
    width: 700px;
  }

  .text-area__submit-block {
    width: 875px;
    padding: 0;
    padding-left: 175px;
  }

  .text-area__button {
    @include textsize(17px, 16px);
    width: 240px;
    height: 52px;
    margin-right: 30px;
  }

  .text-area__comment {
    text-align: right;
  }
}
