.tittle-block {
  @include wrapper;
  background-color: $block-grey;

  &__wrapper {
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 75px;
    padding-bottom: 75px;
    text-align: center;
  }
}

.tittle-block__tittle {
  @include textsize(27px, 30px);
}

@media (min-width: $tablet-width) {
  .tittle-block {
    &__wrapper {
      padding-right: 190px;
      padding-left: 150px;
      padding-top: 100px;
      padding-bottom: 100px;
    }
  }

  .tittle-block__tittle {
    @include textsize(43px, 50px);
  }
}
