.weekly-item {
  width: 320px;
  @include centerblock;
  padding: 30px;
  @include flex;
  flex-direction: column;
  background-color: #ffffff;
}
.weekly-item__tittle {
  font-size: 25px;
  line-height: 30px;
  text-align: center;
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
}
.weekly-item__tittle-info {
  line-height: 20px;
  color: #63d1bb;
  text-transform: uppercase;
  margin-right: 135px;
}
.weekly-item__text {
  @include textsize(15px, 24px);
  font-weight: normal;
}
.weekly-item__table {
  @include textsize(15px, 24px);
  text-align: left;
  font-weight: normal;
  margin: 0;
  margin-bottom: 28px;
  padding: 0;
  border-collapse: collapse;
}
.weekly-item__table-item {

  border-bottom: 1px solid #444444;
}
.weekly-item__price {
  margin: 25px 0;
}
