//
//Font-weight
//

$normal-font: 400;
$bold-font: 700;

//
// FONTS
//

@font-face {
  font-family: "Open Sans", sans-serif;
  font-weight: $normal-font;
  font-style: normal;

  src: url("../fonts/opensans.woff") format("woff"),
    url("../fonts/opensans.woff2") format("woff2");
}

@font-face {
  font-family: "Open Sans", sans-serif;
  font-weight: $bold-font;
  font-style: normal;

  src: url("../fonts/opensansbold.woff") format("woff"),
    url("../fonts/opensansbold.woff2") format("woff2");
}

//
// COLOR
//

$white: #ffffff;
$white-active: rgba(255, 255, 255, 0.3);
$white-modal-bg: rgba(255, 255, 255, 0.9);
$black: #000000;
$black-hover: rgba(0, 0, 0, 0.6);
$black-active: rgba(0, 0, 0, 0.3);
$black-basket: rgba(0, 0, 0, 0.2);
$black-shadow: rgba(0, 0, 0, 0.1);
$button-active: #444444;
$green: #63d1bb;
$green-active: rgba(70, 193, 174, 0.3);
$green-focus: rgba(70, 193, 174, 0.7);
$dark-green: #56c3b2;
$radio-green: #62d1ba;
$green-link: #46c1ae;
$btn-active-grey: rgba(0, 0, 0, 0.3);
$light-grey: #ececec;
$grey: #ececec;
$dark-grey: #444444;
$block-grey: #f1f1f1;
$footer-line: #e5e5e5;
$border-grey: #ededed;
$bg-info: #f9f9f9;

//
// SIZE
//

$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1150px;
$modal-width: 566px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
