@mixin centerblock {
  margin: 0 auto;
  padding: 0;
}

@mixin flex {
  display: flex;
  align-items: center;
}

@mixin textsize($font-size, $line-height) {
  font-size: $font-size;
  line-height: $line-height;
}

@mixin reset-position {
  margin: 0;
  padding: 0;
}

@mixin tablet-desktop-padding {
  padding-right: 50px;
  padding-left: 50px;
}

@mixin wrapper {
  width: 100%;

  &__wrapper {
    margin: 0 auto;
    width: $mobile-width;
  }

  @media (min-width: $tablet-width) {
    &__wrapper {
      width: $tablet-width;
    }
  }

  @media (min-width: $desktop-width) {
    &__wrapper {
      width: $desktop-width;
    }
  }
}
